FORM_ENDPOINT="PASTE_YOUR_APPS_SCRIPT_URL_HERE"
WHATSAPP_NUMBER="919876543210"
CONTACT_PHONE="919876543210"
CONTACT_EMAIL="info@satyamsuryamanhattan.com"
MAPS_EMBED_URL="https://www.google.com/maps/embed?..."